@keyframes opendown {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@-webkit-keyframes opendown {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes closeup {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
@-webkit-keyframes closeup {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slidein {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideout {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes slideout {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}