@mixin button-default-style() {
  font-family: $font-2;
  font-size: $font-size-5;
  font-weight: 500;
  transition: $transition-2;
  text-decoration: initial !important;
  cursor: pointer;
  padding: 12px 16px;
  background-color: rgba(0,0,0,0);
  border-radius: 5px;
  @include themed() {
    color: t($color-3);
    border: 2px solid t($color-3);
    &:hover {
      background-color: transparentize(t($color-3), 0.85);
    }
  }
}

@mixin text-style(
  $font-family: $neueHaasGrotesk,
  $font-size: $size-4,
  $font-weight: normal,
  $font-stretch: normal,
  $font-style: normal,
  $line-height: normal,
  $letter-spacing: normal
) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  font-stretch: $font-stretch;
  font-style: $font-style;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin center-content($flex-direction: row) {
  flex-direction: $flex-direction;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

@mixin rotate ($deg) { 
	@include transform(rotate(#{$deg}deg));
}