// ----------------------------------------------------------------------
	// Breakpoints
// ----------------------------------------------------------------------
$breakpoint-1: 480px;
$breakpoint-2: 768px;
$breakpoint-3: 900px;

// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$font-1: Montserrat;
$font-2: sans-serif;

// ----------------------------------------------------------------------
	// Transitions
// ----------------------------------------------------------------------
$transition-1: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
$transition-2: all 0.7s ease-in-out;

// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$font-size-1: 10px;
$font-size-2: 12px;
$font-size-3: 14px;
$font-size-4: 16px;
$font-size-5: 18px;
$font-size-6: 20px;
$font-size-7: 32px;
$font-size-8: 48px;
$font-size-9: 65px;

// ----------------------------------------------------------------------
	// Theme - 1
// ----------------------------------------------------------------------
$theme-1-color-1: #0b004b;
$theme-1-color-2: #4e5370;
$theme-1-color-3: #798fff;
$theme-1-color-4: rgb(255, 255, 255);
$theme-1-color-5: rgb(220, 235, 255);

// ----------------------------------------------------------------------
	// Theme - 2
// ----------------------------------------------------------------------
$theme-2-color-1: #ccd6f6;
$theme-2-color-2: #8892b0;
$theme-2-color-3: #48e4ff;
$theme-2-color-4: #0b1a2f;
$theme-2-color-5: #122341;
