// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$font-1: Montserrat;
$font-2: sans-serif;

// ----------------------------------------------------------------------
	// Transitions
// ----------------------------------------------------------------------
$transition-1: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
$transition-2: all 0.7s ease-in-out;

// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$font-size-1: 10px;
$font-size-2: 12px;
$font-size-3: 14px;
$font-size-4: 16px;
$font-size-5: 18px;
$font-size-6: 20px;
$font-size-7: 32px;
$font-size-8: 65px;

// ----------------------------------------------------------------------
	// Theme - 1
// ----------------------------------------------------------------------
$theme-1-color-1: #ccd6f6;
$theme-1-color-2: #8892b0;
$theme-1-color-3: #64ffda;
$theme-1-color-4: #0b1a2f;
$theme-1-color-5: #122341;

// ----------------------------------------------------------------------
	// Theme - 2
// ----------------------------------------------------------------------
$theme-2-color-1: #ffffff;
$theme-2-color-2: #ccd6f6;
$theme-2-color-3: #da2c00;
$theme-2-color-4: #130400;
$theme-2-color-5: #501000;

// ----------------------------------------------------------------------
	// Theme - 3
// ----------------------------------------------------------------------
$theme-3-color-1: #c9d1d9;
$theme-3-color-2: #8b949e;
$theme-3-color-3: #58a6ff;
$theme-3-color-4: #090d11;
$theme-3-color-5: #0e1217;

// ----------------------------------------------------------------------
	// Theme - 4
// ----------------------------------------------------------------------
$theme-4-color-1: #ccd6f6;
$theme-4-color-2: #8892b0;
$theme-4-color-3: #ffd900;
$theme-4-color-4: #0b1a2f;
$theme-4-color-5: #122341;

// ----------------------------------------------------------------------
	// Theme - 5
// ----------------------------------------------------------------------
$theme-5-color-1: #ccd6f6;
$theme-5-color-2: #8892b0;
$theme-5-color-3: #d400ff;
$theme-5-color-4: #0b1a2f;
$theme-5-color-5: #122341;

// ----------------------------------------------------------------------
	// Theme - 6
// ----------------------------------------------------------------------
$theme-6-color-1: #ffffff;
$theme-6-color-2: #e9cee3;
$theme-6-color-3: #f05a29;
$theme-6-color-4: #321c3b;
$theme-6-color-5: #7b519a;

// ----------------------------------------------------------------------
	// Theme - 7
// ----------------------------------------------------------------------
$theme-7-color-1: #ffffff;
$theme-7-color-2: #ededed;
$theme-7-color-3: #da0037;
$theme-7-color-4: #171717;
$theme-7-color-5: #444444;

