// ----------------------------------------------------------------------
	// Breakpoints
// ----------------------------------------------------------------------
$breakpoint-1: 480px;
$breakpoint-2: 768px;
$breakpoint-3: 900px;

// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$font-1: Montserrat;
$font-2: sans-serif;

// ----------------------------------------------------------------------
	// Transitions
// ----------------------------------------------------------------------
$transition-1: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
$transition-2: all 0.7s ease-in-out;

// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$font-size-1: 0.625rem;
$font-size-2: 0.75rem;
$font-size-3: 0.875rem;
$font-size-4: 1rem;
$font-size-5: 1.125rem;
$font-size-6: 1.25rem;
$font-size-7: 2rem;
$font-size-8: 3rem;
$font-size-9: 4.0625rem;

// ----------------------------------------------------------------------
	// Misc
// ----------------------------------------------------------------------
$line-height: 1.375rem;

// ----------------------------------------------------------------------
	// Theme - 1
// ----------------------------------------------------------------------
$theme-1-color-1: #0b004b;
$theme-1-color-2: #4e5370;
$theme-1-color-3: #798fff;
$theme-1-color-4: rgb(255, 255, 255);
$theme-1-color-5: rgb(220, 235, 255);

// ----------------------------------------------------------------------
	// Theme - 2
// ----------------------------------------------------------------------
$theme-2-color-1: #ccd6f6;
$theme-2-color-2: #8892b0;
$theme-2-color-3: #48e4ff;
$theme-2-color-4: #0b1a2f;
$theme-2-color-5: #122341;
