// ----------------------------------------------------------------------
	// Font Families
// ----------------------------------------------------------------------
$font-1: Montserrat;
$font-2: sans-serif;

// ----------------------------------------------------------------------
	// Transitions
// ----------------------------------------------------------------------
$transition-1: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
$transition-2: all 0.7s ease-in-out;

// ----------------------------------------------------------------------
	// Font Sizes
// ----------------------------------------------------------------------
$font-size-1: 10px;
$font-size-2: 12px;
$font-size-3: 14px;
$font-size-4: 16px;
$font-size-5: 18px;
$font-size-6: 20px;
$font-size-7: 32px;
$font-size-8: 65px;

// ----------------------------------------------------------------------
	// Theme - 1
// ----------------------------------------------------------------------
$theme-1-color-1: #ccd6f6;
$theme-1-color-2: #8892b0;
$theme-1-color-3: #64ffda;
$theme-1-color-4: #0b1a2f;
$theme-1-color-5: #122341;

// ----------------------------------------------------------------------
	// Theme - 2
// ----------------------------------------------------------------------
$theme-2-color-1: #ccd6f6;
$theme-2-color-2: #8892b0;
$theme-2-color-3: #64ffda;
$theme-2-color-4: #0b1a2f;
$theme-2-color-5: #122341;

// ----------------------------------------------------------------------
	// Theme - 3
// ----------------------------------------------------------------------
$theme-3-color-1: #ccd6f6;
$theme-3-color-2: #8892b0;
$theme-3-color-3: #64ffda;
$theme-3-color-4: #0b1a2f;
$theme-3-color-5: #122341;

// ----------------------------------------------------------------------
	// Theme - 4
// ----------------------------------------------------------------------
$theme-4-color-1: #ccd6f6;
$theme-4-color-2: #8892b0;
$theme-4-color-3: #64ffda;
$theme-4-color-4: #0b1a2f;
$theme-4-color-5: #122341;

// ----------------------------------------------------------------------
	// Theme - 5
// ----------------------------------------------------------------------
$theme-5-color-1: #ccd6f6;
$theme-5-color-2: #8892b0;
$theme-5-color-3: #64ffda;
$theme-5-color-4: #0b1a2f;
$theme-5-color-5: #122341;
