.custom-404 {
  .layout__content {
    justify-content: center;
    align-items: center;
    height: 100vh;
    // gap: 1.5625rem;
    > * + * {
      margin: 1.5625rem 0 0 0; // safari
    }
  }

  button {
    @include button-default-style;
  }
}