.main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  display: grid;
  grid-template: 1fr / 150px 1fr 150px;
  justify-content: space-between;

  @include themed() {
    color: t($color-1);
    background-color: t($color-4);
  }
}