$borderRadius: 3px;

.about {
  display: grid;
  grid-template: 1fr / 1fr 300px;
  align-items: center;
  gap: 50px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include themed() {
      color: t($color-2);
    }
  }

  &__image {
    border-radius: $borderRadius;
    height: 300px;
    width: 300px;

    > div {
      transition: $transition-1;
      border-radius: $borderRadius;
      position: relative !important;
      height: 100% !important;
      z-index: 1;
      @include themed() {
        background-color: t($color-3);
      }

      img {
        mix-blend-mode: multiply;
        filter: grayscale(100%) contrast(.95) brightness(1.2);
        height: inherit !important;
        position: relative !important;
      }
    }

    &:hover {
      > div {
        background-color: initial;
      }
      img {
        filter: initial;
      }
    }
  }
}