$borderRadius: 0.1875rem;

.about {
  display: grid;
  grid-template: 1fr / 1fr auto;
  align-items: center;
  gap: 3.125rem;

  &__content {
    display: flex;
    flex-direction: column;
    line-height: $line-height;
    // gap: 0.9375rem;
    > * + * {
      margin: 0.9375rem 0 0 0; // safari
    }
    @include themed() {
      color: t($color-2);
    }
  }

  &__image {
    border-radius: $borderRadius;
    height: 18.75rem;
    width: 18.75rem;
  }
}

@media (min-width: $breakpoint-2) and (max-width: $breakpoint-3) {
  .about {
    &__image {
      height: 12.5rem;
      width: 12.5rem;
    }
  }
}

@media (max-width: $breakpoint-2) {
  .about {
    display: flex;
    flex-direction: column-reverse;
    > * + * {
      margin: 0 0 3.125rem 0; // safari
    }
  }
}

@media (max-width: $breakpoint-1) {
  .about {
    &__image {
      height: 12.5rem;
      width: 100%;
    }
  }
}