.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

  &__text {
    font-size: $font-size-5;
    text-align: center;
    @include themed() {
      color: t($color-2);
    }
  }

  &__cta-button {
    font-family: $font-2;
    font-size: $font-size-5;
    text-decoration: inherit !important;
    cursor: pointer;
    padding: 12px 16px;
    background-color: rgba(0,0,0,0);
    font-weight: 500;
    border-radius: 5px;
    @include themed() {
      color: t($color-3);
      border: 2px solid t($color-3);
    }
  }
}