.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

  &__text {
    font-size: $font-size-5;
    text-align: center;
    @include themed() {
      color: t($color-2);
    }
  }

  &__cta-button {
    @include button-default-style;
  }
}