.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  // gap: 3.125rem;
  > * + * {
    margin: 3.125rem 0 0 0; // safari
  }

  &__text {
    font-size: $font-size-5;
    text-align: center;
    line-height: $line-height;
    @include themed() {
      color: t($color-2);
    }
  }

  &__cta-button {
    @include button-default-style;
  }
}