.filtered-image {
  border-radius: $borderRadius;

  > div {
    transition: $transition-1;
    border-radius: $borderRadius;
    position: relative !important;
    width: 100%;
    height: 100%;
    filter: blur(0.1875rem);

    :not(.gallery__image, .about_image) {
      height: 6.25rem !important;
    }

    z-index: 1;
    @include themed() {
      background-color: t($color-3);
    }

    img {
      mix-blend-mode: multiply;
      width: inherit !important;
    }
  }

  &--loaded {
    > div {
      :not(.gallery__image, .about_image) {
        height: 100% !important;
      }
      filter: blur(0);
      height: 100% !important;
      img {
        filter: grayscale(100%) contrast(.95) brightness(1.05) !important;
        width: 0 !important;
      }
    }

    &:hover {
      > div {
        background-color: initial;
      }
      img {
        filter: initial !important;
      }
    }
  }
}
