.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  a {
    font-size: $font-size-1;
    letter-spacing: .08em;
    font-weight: 400;
    text-decoration: inherit;
    cursor: pointer;
    @include themed() {
      color: t($color-3);
    }
  }

  &__github-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    gap: 3px;
    svg {
      width: $font-size-1;;
      height: $font-size-1;;
    }
    p:nth-of-type(1) {
      margin-right: 5px;
    }
  }
}