$borderRadius: 3px;

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-auto-rows: minmax(min-content, max-content);
  // grid-template-rows: 100px;
  // align-items: center;
  gap: 20px;

  &__image,
  &__imge--small {
    border-radius: $borderRadius;
    aspect-ratio: 1;

    > div {
      transition: all 0.5s ease-out;
      border-radius: $borderRadius;
      position: relative !important;
      height: 100% !important;
      z-index: -1;
      background-color: rgba(0, 68, 255, 0.35);

      img {
        mix-blend-mode: soft-light;
        height: inherit !important;
        position: relative !important;
      }
    }

    &:hover {
      > div {
        background-color: rgba(0, 68, 255, 0);
      }
    }
  }
}