$borderRadius: 3px;

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-auto-rows: minmax(min-content, max-content);
  // grid-template-rows: 100px;
  // align-items: center;
  gap: 20px;

  &__image,
  &__imge--small {
    border-radius: $borderRadius;
    aspect-ratio: 1;

    > div {
      transition: $transition-1;
      border-radius: $borderRadius;
      position: relative !important;
      height: 100% !important;
      z-index: 1;
      @include themed() {
        background-color: t($color-3);
      }

      img {
        mix-blend-mode: multiply;
        filter: grayscale(100%) contrast(.95) brightness(1.2);
      }
    }

    &:hover {
      > div {
        background-color: initial;
      }
      img {
        filter: initial;
      }
    }
  }
}