$borderRadius: 3px;

.gallery {
  &__images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  &__image,
  &__imge--small {
    cursor: pointer;
    border-radius: $borderRadius;
    aspect-ratio: 1;

    > div {
      transition: $transition-1;
      border-radius: $borderRadius;
      position: relative !important;
      height: 100% !important;
      z-index: 1;
      @include themed() {
        background-color: t($color-3);
      }

      img {
        mix-blend-mode: multiply;
        filter: grayscale(100%) contrast(.95) brightness(1.2);
      }
    }

    &:hover {
      > div {
        background-color: initial;
      }
      img {
        filter: initial;
      }
    }
  }

  &__popover {
    display: flex;
    > div {
      display: grid !important;
      align-items: center;
      justify-items: center;
      width: 100vw;
      height: 100vh;
      grid-template: 1fr / 1fr;

      div {
        padding-top: 0 !important;
      }
    }

    img {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;

      grid-area: 1 / 1;
      min-width: inherit !important;
      min-height: inherit !important;
      max-width: 90vh !important;
      max-height: 90vh !important;
      height: auto !important;
      width: auto !important;
    }
  }

  &__arrow {
    z-index: 15;
    transition: $transition-1;
    position: absolute;
    align-self: center;
    cursor: pointer;
    padding: 3px;
    margin: 0 20px;
    @include themed() {
      color: t($color-1);
      &:hover {
        color: t($color-3);
      }
    }
    &--right {
      right: 0;
    }
    &--disabled {
      display: none;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
  }

  &__pagination-bubble {
    transition: $transition-1;
    cursor: pointer;
    margin: 5px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    @include themed() {
      background-color: transparentize(t($color-2), 0.5);

      &--selected {
        background-color: t($color-3);
        transform: scale(1.2);
      }
    }
    &:hover {
      transform: scale(1.2);
    }
  }
}
