.header {
  height: max(102vh, 500px);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  font-family: $font-1;

  &__preheading {
    @include themed() {
      color: t($color-3);
    }
  }

  &__heading {
    font-size: $font-size-8;
    @include themed() {
      color: t($color-1);
    }
  }

  &__subheading {
    font-size: $font-size-7;
    @include themed() {
      color: t($color-2);
    }
  }

  &__text {
    @include themed() {
      color: t($color-2);
    }
  }

  &__cta {
    button {
      font-family: $font-2;
      font-size: $font-size-5;
      text-decoration: inherit !important;
      cursor: pointer;
      padding: 10px 14px;
      background-color: rgba(0,0,0,0);
      font-weight: 500;
      border-radius: 5px;
      @include themed() {
        color: t($color-3);
        border: 2px solid t($color-3);
      }
    }
  }
}