.header {
  height: max(102vh, 500px);
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;

  &__preheading {

  }

  &__heading {
    font-size: 50px;
  }

  &__subheading {
    font-size: 30px;
  }

  &__text {

  }

  &__cta {
    button {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      text-decoration: inherit !important;
      cursor: pointer;
      padding: 10px 14px;
      background-color: rgba(0,0,0,0);
      border: 2px solid rgb(3, 0, 190);
      color: rgb(3, 0, 190);
      font-weight: 500;
      border-radius: 5px;
    }
  }
}