$borderRadius: 3px;

.project-card {
  display: grid;
  grid-template: 1fr / repeat(5, 1fr);

  &__details,
  &__details--inverse {
    grid-row: 1;
    display: grid;
    grid-template: auto auto auto auto/1fr;
    gap: 12px;
    align-content: center;

    > * {
      z-index: 2;
      width: fit-content;
    }
  }

  &__details {
    grid-column: 1 / span 3;
  }

  &__details--inverse {
    grid-column: 3 / span 3;
    justify-items: end;
  }


  &__title {
    font-size: $font-size-7;
    padding-bottom: 5px;
    @include themed() {
      color: t($color-1);
    }
  }

  &__description {
    padding: 10px;
    border-radius: $borderRadius;
    @include themed() {
      background-color: t($color-5);
      color: t($color-2);
    }
  }

  &__tools {
    display: flex;
    gap: 10px;

    p {
      @include themed() {
        color: t($color-2);
      }
    }
  }

  &__links {
    display: flex;
    gap: 15px;
    svg {
      transition: $transition-2;
      height: 18px;
      width: 18px;
      cursor: pointer;
      @include themed() {
        color: t($color-1);
        &:hover {
          color: t($color-3);
        }
      }
    }
  }

  &__image,
  &__image--inverse {
    grid-row: 1;
    border-radius: $borderRadius;
    z-index: 1;

    > div {
      transition: $transition-1;
      border-radius: $borderRadius;
      position: relative !important;
      height: 100% !important;
      z-index: 1;
      @include themed() {
        background-color: t($color-3);
      }

      img {
        mix-blend-mode: multiply;
        filter: grayscale(100%) contrast(.95) brightness(1.2);
        height: inherit !important;
        position: relative !important;
      }
    }

    &:hover {
      > div {
        background-color: initial;
      }
      img {
        filter: initial;
      }
    }
  }

  &__image {
    grid-column: 3 / span 3;
  }

  &__image--inverse {
    grid-column: 1 / span 3;
  }
}

.project-popover {
  @include themed() {
    background-color: t($color-4);
    border: 1px solid t($color-3);
    ::selection {
      color: t($color-4);
      background: t($color-3);
    }
  }
  padding: 50px;
  border-radius: 2px;
  display: grid;
  width: 75vw;
  align-self: center;
  justify-self: center;

  &__close-icon {
    transition: $transition-2;
    margin: -25px -25px 0 0;
    cursor: pointer;
    justify-self: end;
    @include themed() {
      color: t($color-1);
      &:hover {
        color: t($color-3);
      }
    }
  }

  &__overview {
    display: grid;
    grid-template: auto 1fr / 1fr;
    padding-bottom: 20px;
  }

  &__heading {
    font-size: $font-size-7;
    padding-bottom: 5px;
    @include themed() {
      color: t($color-1);
    }
  }

  &__description {
    padding: 10px 0;
    line-height: 1.3;
    @include themed() {
      color: t($color-2);
    }
  }

  &__highlights {
    display: grid;
    gap: 20px;
  }

  &__highlight {
    // padding: 2px 0 2px 15px;
    padding-left: 15px;

    @include themed() {
      border-left: 1px solid t($color-2);
      &--selected {
        border-left: 2px solid t($color-3);

        .project-popover__title {
          color: t($color-3);

        }
      }
    }
  }

  &__title {
    cursor: pointer;
    transition: $transition-1;
    @include themed() {
      color: t($color-2);
    }
  }

  &__highlight-details {
    display: grid;
    grid-template: auto / 1fr 1fr;
    column-gap: 10px;
  }

  &__highlight-text {
    padding-top: 10px;
    border-radius: $borderRadius;
    line-height: 1.3;
    @include themed() {
      color: t($color-1);
    }
    &--long {
      grid-column: 1 / span 2;
    }
  }

  &__highlight-media {
    grid-area: 1 / 2 / span 99;
    > div {
      position: relative !important;
      height: 100% !important;
      img {
        height: inherit !important;
        position: relative !important;
      }
    }
  }
}