$borderRadius: 3px;

.project-card {
  padding-top: 100px;
  display: grid;
  grid-template: 1fr / repeat(5, 1fr);

  &__details,
  &__details--inverse {
    grid-row: 1;
    display: grid;
    grid-template: auto auto auto auto/1fr;
    gap: 12px;
    align-content: center;

    > * {
      z-index: 2;
      width: fit-content;
    }
  }

  &__details {
    grid-column: 1 / span 3;
  }

  &__details--inverse {
    grid-column: 3 / span 3;
    justify-items: end;
  }


  &__title {
    font-size: 24px;
    padding-bottom: 5px;

  }

  &__description {
    background-color: rgba(0, 0, 0, 0.774);
    color: rgb(197, 197, 197);
    padding: 10px;
    border-radius: $borderRadius;
  }

  &__tools {
    display: flex;
    gap: 10px;

    p {

    }
  }

  &__links {
    display: flex;
    gap: 15px;
    svg {
      color: black;
      height: 18px;
      width: 18px;
      cursor: pointer;
    }
  }

  &__image,
  &__image--inverse {
    grid-row: 1;
    border-radius: $borderRadius;
    z-index: 1;

    > div {
      transition: all 0.5s ease-out;
      border-radius: $borderRadius;
      position: relative !important;
      height: 100% !important;
      z-index: -1;
      background-color: rgba(0, 68, 255, 0.35);

      img {
        mix-blend-mode: soft-light;
        height: inherit !important;
        position: relative !important;
      }
    }

    &:hover {
      > div {
        background-color: rgba(0, 68, 255, 0);
      }
    }
  }

  &__image {
    grid-column: 3 / span 3;
  }

  &__image--inverse {
    grid-column: 1 / span 3;
  }
}