.section {
  min-height: 100px;

  &__heading {
    font-size: $font-size-6;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 15px;
    padding: 5px 0;

    &--line {
      width: 100%;
      height: 1px;
      margin-bottom: -3px;
      opacity: 0.25;
      @include themed() {
        background-color: t($color-2);
      }
    }
  }

  &__contents {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
}

@media (max-width: $breakpoint-1) {
  .section {
    &__contents {
      padding: 50px 0;
      gap: 50px;
    }
  }
}