.section {
  border-top: 1px solid black;
  min-height: 100px;

  &__heading {
    margin: -17px 0 0 -2px;
    position: absolute;
    background-color: #fff;
    padding: 0 10px 5px 0;
    // @include themed() {
    //   color: t($text-prime);
    // }
  }

  &__contents {
    //
  }
}