.sidebar {
  position: fixed;
  overflow: scroll;
  height: 100vh;
  max-width: 9.375rem;
  display: grid;
  grid-template: auto 1fr 1fr / 1fr;

  &__cta,
  &__nav,
  &__social {
    display: flex;
    flex-direction: column;
    // gap: 2.5rem;
    > * + * {
      margin: 2.5rem 0 0 0; // safari
    }
  }

  &__cta {
    align-self: center;
    margin: 0.625rem 0 0 0;

    button {
      @include button-default-style;
      padding: 0.625rem 0.75rem;
      font-weight: 900;
      font-size: $font-size-3;
    }
  }

  &__nav {
    align-self: start;

    h2 {
      transition: $transition-1;
      cursor: pointer;
      font-size: $font-size-3;
      font-weight: 300;
      @include themed() {
        color: t($color-1);
        &:hover {
          color: t($color-3);
        }
      }
    }

    &--highlight {
      @include themed() {
        color: t($color-3) !important;
      }
    }
  }

  &__social {
    align-self: end;

    svg {
      transition: $transition-1;
      cursor: pointer;
      width: $font-size-5;
      @include themed() {
        color: t($color-1);
        &:hover {
          transform: scale(1.1);
          color: t($color-3);
        }
      }
    }
  }

  &--left {
    left: 0;
    margin-left: 0.625rem;

    .sidebar {
      &__nav,
      &__social {
        margin: 1.875rem 0.3125rem 1.875rem 0.625rem;
      }

      &__cta {
        justify-self: start;
      }

      &__nav {
        text-align: start;
      }

      &__social {
        justify-self: start;
      }
    }

  }

  &--right {
    right: 0;
    margin-right: 0.625rem;

    .sidebar {
      &__nav,
      &__social {
        margin: 1.875rem 0.625rem 1.875rem 0.3125rem;
      }

      &__cta {
        justify-self: end;
      }

      &__nav {
        text-align: end;
      }

      &__social {
        justify-self: end;
      }
    }
  }
}

.mobile-sidebar {
  height: 100vh;
  z-index: 99;
  display: grid;
  grid-template: auto 1fr 1fr / 1fr;
  position: fixed;

  &__menu-toggle-button,
  &__social svg {
    cursor: pointer;
    transition: $transition-1;
    opacity: 0.5;
    @include themed() {
      color: t($color-2);
      &:hover {
        transform: scale(1.1);
        color: t($color-3);
        opacity: 1;
      }
    }
  }

  &__menu-toggle-button {
    margin: 0.9375rem;
    width: $font-size-6;
    height: $font-size-6;
  }

  &__social {
    grid-row: 3;
    align-self: end;
    display: flex;
    flex-direction: column;
    padding: 0.9375rem;
    // gap: 2.5rem;
    > * + * {
      margin: 2.5rem 0 0 0; // safari
    }

    svg {
      width: $font-size-5;
    }
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}

@media (max-width: $breakpoint-2) {
  .sidebar {
    max-width: inherit;
    grid-template: auto 1fr / 1fr;

    &__cta {
      margin: 1.25rem 0.625rem 0 0;
      button {
        font-size: $font-size-4;
      }
    }

    &__nav {
      h2 {
        font-size: $font-size-7;
        font-weight: 500;
      }
    }

    &--left {
      .sidebar {
        &__cta {
          margin: 1.25rem 0 0 0.625rem;
        }
      }
    }

    &--right {
      .sidebar {
        &__cta {
          margin: 1.25rem 0.625rem 0 0;
        }
      }
    }
  }
}