.sidebar {
  position: fixed;
  right: 0;
  overflow: scroll;
  height: 100vh;
  max-width: 150px;
  margin-right: 10px;
  display: grid;
  grid-template: auto 1fr 1fr / 1fr;

  &__cta,
  &__nav,
  &__social {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__nav,
  &__social {
    margin: 30px 10px 30px 5px;
  }

  &__cta {
    align-self: center;
    justify-self: end;
    margin: 10px 0 0 0;


    button {
      transition: $transition-2;
      cursor: pointer;
      padding: 10px 12px;
      background-color: rgba(0,0,0,0);
      font-weight: 900;
      border-radius: 5px;
      @include themed() {
        color: t($color-3);
        border: 2px solid t($color-3);
        &:hover {
          background-color: transparentize(t($color-3), 0.85);
        }
      }
    }
  }

  &__nav {
    align-self: start;
    text-align: end;

    h2 {
      transition: $transition-1;
      cursor: pointer;
      font-size: $font-size-3;
      font-weight: 300;
      margin: 0;
      @include themed() {
        color: t($color-1);
        &:hover {
          color: t($color-3);
        }
      }
    }

    &--highlight {
      @include themed() {
        color: t($color-3) !important;
      }
    }
  }

  &__social {
    align-self: end;
    justify-self: end;

    svg {
      transition: $transition-1;
      cursor: pointer;
      width: $font-size-5;
      @include themed() {
        color: t($color-1);
        &:hover {
          color: t($color-3);
        }
      }
    }
  }
}

.mobile-sidebar {
  height: 100vh;
  display: grid;
  grid-template: auto 1fr 1fr / 1fr;
  position: fixed;
  right: 0;

  &__menu-toggle-button,
  &__social svg {
    cursor: pointer;
    transition: $transition-1;
    opacity: 0.5;
    @include themed() {
      color: t($color-2);
      &:hover {
        color: t($color-3);
        opacity: 1;
      }
    }
  }

  &__menu-toggle-button {
    margin: 15px;
    width: $font-size-6;
    height: $font-size-6;
  }

  &__social {
    grid-row: 3;
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 15px;

    svg {
      width: $font-size-5;
    }
  }
}

@media (max-width: $breakpoint-2) {
  .sidebar {
    max-width: inherit;
    grid-template: auto 1fr / 1fr;

    &__cta {
      margin: 20px 10px 0 0;
      button {
        font-size: $font-size-4;
      }
    }

    &__nav {
      h2 {
        font-size: $font-size-7;
        font-weight: 500;
      }
    }
  }
}