.theme-bar {
  position: fixed;
  overflow: scroll;
  height: 100vh;
  width: 3.125rem;
  display: grid;
  grid-template: auto 1fr / 1fr;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  &__button {
    padding: 0.9375rem;
    justify-self: center;
    svg {
      transition: $transition-2;
      cursor: pointer;
      width: $font-size-5;
      opacity: 0.5;

      @include themed() {
        color: t($color-2);
        &:hover {
          opacity: 1;
          color: t($color-3);
          transform: rotate(360deg);
        }
      }

    }
  }

  &__line {
    height: 100%;
    width: 0.125rem;
    justify-self: center;
    @include themed() {
      background-image: linear-gradient(to bottom, rgba(0,0,0,0), t($color-3));
    }
  }
}