html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;
}

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:focus {
  outline: 0 !important;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

// Global link style
.text-link {
  text-decoration: none !important;
  @include themed() {
    color: t($color-3) !important;
  }
}
