@import 'utilities/variables';
@import 'utilities/mixins';
@import 'utilities/keyframes';

@import 'themes/_color-themes';

@import 'base/typography';
@import 'base/reset';

@import 'pages/index';

@import 'layout/layout';

@import 'components/header';
@import 'components/section';
@import 'components/sidebar';
@import 'components/project-card';