@import 'utilities/variables';
@import 'utilities/mixins';
@import 'utilities/keyframes';

@import 'themes/_color-themes';

@import 'base/typography';
@import 'base/reset';

@import 'pages/index';
@import 'pages/custom-404';

@import 'layout/layout';

@import 'components/about';
@import 'components/contact';
@import 'components/gallery';
@import 'components/header';
@import 'components/filtered-image';
@import 'components/footer';
@import 'components/pdf-viewer';
@import 'components/portal';
@import 'components/project-card';
@import 'components/section';
@import 'components/sidebar';
@import 'components/theme-bar';